
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1464315924'); /* IE9*/
  src: url('iconfont.eot?t=1464315924#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1464315924') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1464315924') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1464315924#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-collect:before { content: "\e605"; }
.icon-jinlingyingcaiicon03:before { content: "\e600"; }
.icon-phone:before { content: "\e601"; }
.icon-qq:before { content: "\e602"; }
.icon-edit-copy-copy:before { content: "\e603"; }
.icon-kuanyi20shujuzhongxincehualanyongjin:before { content: "\e604"; }
.icon-fullCollect:before { content: "\e606"; }
