/* 首页 */
.entrance_container {
     margin: 30px 0;
 }
.entrance_container .row {
    text-align: center;
}
.selet_block {
    width: 100%;
    max-width: 180px;
    height: 80px;
    line-height: 80px;
    background-color: #f5f5f5;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 30px;
}
.selet_block .col1 {
    font-size: 36px;
}
.selet_block .col2 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.selet_block1 {
    background-color: #5D9CEC;
}
.selet_block1 .col1{
    background-color: #2F80E7;
}
.selet_block2 {
    background-color: #7266BA;
}
.selet_block2 .col1{
    background-color: #564AA3;
}
.selet_block3 {
    background-color: #37BC9B;
}
.selet_block3 .col1{
    background-color: #2B957A;
}
.selet_block4 {
    background-color: #F7ABB7;
}
.selet_block4 .col1{
    background-color: #D25B71;
}
.selet_block5 {
    background-color: #F79547;
}
.selet_block5 .col1{
    background-color: #F68B1E;
}
/* 登录 */
.login_panel {
    max-width: 500px;
    width: 98%;
    background-color: #fff;
    box-shadow: 1px 0px  4px 1px #ddd;
    border-radius: 6px;
    margin: 140px auto 0;
}
.login_header {
    background-color: #41C1E7;
    color: #fff;
    text-align: center;
}
.login_header h1 {
    font-size: 26px;
    padding: 20px 0;
    margin: 0;
}
.login_body {
    padding: 20px 60px;
}
.login_body .input-group {
    margin-bottom: 20px;
}
.input-group .input-group-addon {
    background-color: transparent;
}
#loginTip {
    padding-bottom: 16px;
    color: red;
    font-size: 13px;
    display: none;
}

    /* 商品分类管理 */
.table_category {
    max-width: 600px;
}
.table_category td {
    width: 33.333%;
}
.imgBox {
    position: relative;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 40px;
    color: #acacac;
    border: 2px dotted #acacac;
    border-radius: 6px;
    overflow: hidden;
}
.imgBox input, .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
}
.imgBox input {
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.imgBox img {
    z-index: 1;

}


/* 商品详细信息 */
.productInfoWrapper {
    margin: 40px 0;
}

.productDetail{
    background-color: #ffffff;
    padding: 30px;
    margin: 40px;
}
.productDetail .product-img{
    padding: 20px;
    border: 1px solid #CCCCCC;
}
.productDetail img{
    width: 100%;
}
.productDetail img.contactImg{
    width: 36px;
}
.productDetail .product-message{
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
    position: relative;
}
.productDetail .product-message .title{
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 20px;
}
.productDetail .product-message span{
    font-weight: 600;
    font-size: 20px;
}
.productDetail .introduce-evaluate{
    margin-top: 40px;
    font-size: 18px;
    line-height: 30px;
}
.productDetail .introduce-evaluate .tab{
    margin-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 10px;
}
.productDetail .introduce-evaluate .tab span{
    display: inline-block;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.productDetail .introduce-evaluate .tab span.active{
    background-color: #3b8de3;
    border: 1px solid transparent;
    border-bottom: none;
}
.productDetail .introduce-evaluate img{
    margin-top: 20px;
}
/*编辑商品*/
.publishProduct{
    box-shadow: 1px 0 4px 1px #ddd;
    margin: 30px;
    background-color: #fff;
    padding: 20px;
}
.publishProduct .glyphicon,
.publishProduct .tip{
    color: #FF0000;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
}
.publishProduct .product-message img{
    width: 100%;
}
.publishProduct .product-message #frontPrice{
    width: 97%;
    display: inline-block;
}
.publishProduct .product-message #detail{
    resize: none;
}
.publishProduct .product-message .specific{
    border: 1px solid #CCCCCC;
    padding: 20px;
    margin-bottom: 20px;
}
.publishProduct .product-message .specific .glyphicon{
    color: #1E90FF;
    cursor: pointer;
}
.publishProduct .product-message #subBtn{
    margin-top: 20px;
}
#remark {
    resize: none;
}
.publishProduct .product-message img.contactImg {
    width: 36px;
    margin-left: 16px;
}
.control-label1 {
    line-height: 36px;
}
/*预览产品*/
.tableType2 img {
    width: 20%;
    margin-right: 20px;
    margin-top: 20px;
}


/* 备注tooltip提示 */
.remarks {
    cursor: pointer;
}
.tooltip {
    top: 240px;
    left: 76px;
    width: 70%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    color: #666;
    opacity: 1;
    display: none;
}


/* 提现查询 */
#close{
    margin-top: 20px;
}

/* 平台佣金收入 */
.alert .money1 {
    font-size: 20px;
}

/* 商品规格 */
.specific {
    border: 1px solid #CCCCCC;
    padding: 20px;
    margin-bottom: 20px;
}
.glyphicconDel {
    color: #1E90FF;
    cursor: pointer;
    color: #FF0000;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
}


/*图片上传区*/
.imgArea {
    position: relative;
    left: -15px;
}
.img-content{
    border: 1px solid #CCCCCC;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff; 
}
.img-content img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
}
.img-content input[type=file]{
    width: 100%;
    height: 100%;
    cursor: pointer;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 200;
}
.add-content img, .add-content .cancel {
    display: none;
}
.img-content .add{
    font-size: 60px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #ff0000;
    text-align: center;
    cursor: pointer;
}
.img-content .cancel{
    position: absolute;
    z-index: 300;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

