/*
商品详情页
*/
.productSpecBlock {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    margin-bottom: 6px;
    padding: 12px 15px;
}
.productName {
    margin: 0 60px 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
}
.collect {
    position: absolute;
    top: 12px;
    right: 0;
    width: 60px;
    text-align: center;
    border-left: 1px solid #ECECEC;
}
.collect .iconfont {
    font-size: 20px;
    line-height: 1.2;
}
.collect .icon-fullCollect {
    color: #FFB01D;
}
.collect p {
    font-size: 10px;
    color: #999;
}

/*左边*/
.specText {
    line-height: 1.8;
    font-size: 14px;
}
.specText .themeColor {
    font-size: 16px;
}
.specText > span {
    display: inline-block;
}
.specText > span:nth-child(1) {
    color: #666;
    width: 54px;
    font-size: 13px;
}
.oneLine {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*右边*/
.specRight > div {
    margin-bottom: 16px;
}
.watchPrice {
    margin-top: 10px;
}
.ui-btn .ui-icon-cart {
    line-height: 1;
}

.remark {
    font-size: 12px;
}

/*底部*/
.specBottom {
    font-size: 12px;
    color: #999;
    margin-top: 8px;
}

/*加入购物车悬浮按钮*/
.addCartBtnFix {
    position: fixed;
    z-index: 100;
    bottom: 80px;
    right: 20px;
    display: block;
    width: 44px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(255,255,255,.9);
    border: 1px solid #ececec;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    display: none;
}
/* 加入购物车提示 */
.addTip {
    display: none;
}
/* 购物车选择数量区 */
.rise_div {
    width: 100%;
    background-color: #fff;
}
.rise_div_top {
    text-align: right;
    padding: 0 10px;
}
.icon-cross-circle {
    line-height: 48px;
    width: 44px;
    text-align: right;
}
.rise_div_mid {
    padding: 16px 10px;
    line-height: 30px;
}
.rise_div_bottom {
    height: 44px;
}
/* 选择数量按钮组 */
.selectNum {
    font-size: 0;
}
.rise_div .selectNum {
    float: right;
}
.selectNum button {
    display: inline-block;
    vertical-align: top;
}
.selectNum button:last-child {
    margin: 0;
}
.selectNum button, .selectNum input {
    border: 1px solid #ECECEC;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    width: 40px;
}
.selectNum button {
    font-size: 20px;
    color: #f69;
    background-color: rgb(253, 253, 253);
}
.selectNum button:not(.disabled):not(:disabled):active {
    background-color: #f5f5f5;
}
.selectNum .reduce {
    border-radius: 6px 0 0 6px;
}
.selectNum .add {
    border-radius: 0 6px 6px 0;
}
.selectNum input {
    text-align: center;
    font-size: 14px;
    border-right: none;
    border-left: none;
    height: 28px;
    line-height: 28px;
}
/* 商品介绍和评价 */
.bottomBlock {
    margin-bottom: 10px;
}
.ui-tab-nav li {
    border-bottom: 1px #ececec solid;
}
.ui-tab-nav li.current {
    color: #f69;
    border-bottom: 2px #f69 solid;
}
.ui-tab-content {
    margin: 0;
}
.ui-tab-content {
    background-color: #fff;
}
.productIntro {
    padding: 8px;
}
.productIntro img{
    width: 100%;
    margin: 2px 0;
    border-radius: 2px;
}
.productIntro .content {
    padding: 10px;
}
.productComment .date {
    float: right;
}

/*
购物车
*/
.hide {
    display: none;
}
.productsBox {
    margin-top: 10px;
}
.productBox {
    position: relative;
}
/*弹框*/
.ui-dialog-bd input{
    text-align: center;
}


/*
我的订单
 */
/* 类别选择 */
.tab {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    padding-bottom: 10px;
}
.tab > li {
    float: left;
}
.tab > li > a {
    margin: 10px 10px 0 10px;
}
/* 订单 */
.order img {
    width: 100px;
    height: 100px;
}
.ui-list-thumb {
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
}
/*订单详情页*/
.textRight, .textMid {
    height: 100px;
}
.textRight {
    text-align: right;
    position: relative;
}
.commentBtn {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*
订单详情
*/
/* 收货地址 */
.receiveInfo {
    position: relative;
    padding: 22px 10px 19px 10px;
    background-color: #FFFAF3;
    margin-top: 10px;
}
.borderT, .borderB {
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background: url(./../image/address.png) repeat-x;
    background-size: 64px 3px;
}
.borderT {
    top: 1px;
}
.borderB {
    bottom: 1px;
}
/*
联系方式
*/
.contact {
    text-align: center;
}
.contact label {
    display: block;
    font-size: 12px;
}
.contact .icon {
    color: #7D48A4;
    font-size: 30px;
}

/* 产品列表《购物车和结算中心》 */
.productBox {
    display: table;
    width: 100%;
    overflow-x: hidden;
    background-color: #fff;
    padding: 6px 15px 0;
}
.productBox .col {
    display: table-cell;
    vertical-align: top;
    position: relative;
}
/* 产品列表的图片大小 */
.productBox .imgCol {
    width: 80px;
    vertical-align: middle;
}
.productBox img {
    width: 80px;
    height: 80px;
}
.selectCol button {
    width: 100%;
    height: 60px;
    font-size: 26px;
}
/*产品数量选择*/
.describeCol {
    padding: 0 10px;
    position: relative;
}
.describeCol .selectNum {
    position: absolute;
    bottom: 10px;
}
/* 右边区域 */
.rightCol {
    width: 80px;
    text-align: right;
}
.totalPrice  {
    position: absolute;
    bottom: 10px;
    right: 0;
}
/* 商品价格总计区 */
.countBlock  {
    padding: 15px;
    line-height: 1.8;
    background-color: #fff;
}
/* 订单操作 */
.operateBlock {
    text-align: right;
}
/*评论*/
.myComment {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 200;
}

/*
结算中心页
*/
.setBottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 24px;
}
.setBottom span:nth-child(2) {
    float: right;
}

/*
物流信息
 */
.logisticsInfo {
    margin-top: 10px;
}
.logisticsInfo tr:nth-child(1) td {
    padding-top: 20px;
}
.logisticsInfo tr:nth-last-child(1) td{
      padding-bottom: 20px;
  }
.logisticsInfo tr td:nth-child(1) {
    width: 172px;
}
.logisticsInfo tr td:nth-child(2) {
    text-align: left;
    padding-left: 14px;
}
.logisticsInfo td {
    padding-top: 10px;
}
.logisticsInfo tr.active {
    color: #f69;
}

/*
分佣订单
*/
.commissionTop {
    margin-bottom: 10px;
}
.commissionTop .ui-avatar {
    width: 80px;
    height: 80px;
}
.ui-avatar img {
    width: 100%;
    height: 100%;
}
.commissionTop .ui-list-info {
    line-height: 2;
}


